extends extends/layout

block styles
  link(
    rel='stylesheet',
    href='/stylesheets/solarized-dark.min.css'
  )

block content
  include includes/_buttons
  div.wrapper
    .line-numbers
      - for (let i = 1; i <= code.split('\n').length; i++)
        div #{i}
    pre
      code#code-display(class=language ? "language-" + language : "") #{code}

block scripts
  script(src='/scripts/highlight.min.js')
  script.
    hljs.highlightAll()